[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
[submodule "ipcamera_driver"]
	path = ipcamera_driver
	url = https://github.com/alireza-hosseini/ipcamera_driver
