<launch>
    <arg name="machine" default=""/>

    <node name="slam_node" pkg="hector_mapping" type="hector_mapping" machine="$(arg machine)">
        <param name="base_frame" value="base_footprint"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        
        <remap from="scan" to="laser/scan/filtered"/>"
    </node>

</launch>